@import "show";
@import "helper";
@import "ask_review";
@import "ask_type";
@import "searching";


.mission-card {
  background-color: $gray;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-box {
  background-color: $dark-gray;
  border-radius: 8px;
  padding: 10px;
  box-shadow: #1f2021 0 0 8px;
}

.review-title {
  display: flex;
  justify-content: space-between;
}

.stars {
  display: flex;
}

.star {
  font-size: 24px;
}

.yellow-star {
  color: $yellow;
}

ul {
  color: white;
}

li {
  color: white;
}
