// to position the 2 items (buttons)
#inner-buttonpage-container {
  display: block;
  width: 100%;
  height: auto;
}

// to position the title on the button-page / home only
#buttonpage-title {
  text-align: center;
}
