<div class="main-container">
  <div class="profile-container">
    <div class="avatar-profile">
      <img src="<%= image_path('<%= current_user.first_name %>_avatar.jpeg') %>" alt="" class="avatar-image"><%=  %>
      <div>
        <h1>My Past Missions</h1>
      </div>
    </div>
  </div>

  <div class="profile-section">
    <div class="mission-card">
      <h3>Mission 1</h3>
      <p>You saved 12 kittens from certain death.</p>
    </div>
  </div>

  <div class="profile-section">
    <div class="mission-card">
      <h3>Mission 2</h3>
      <p>You cured chlamydia</p>
    </div>
  </div>

  <div class="profile-section">
    <div class="mission-card">
      <h3>Mission 3</h3>
      <p>You created a device that protects you from stepping on legos.</p>
    </div>
  </div>
</div>
