<div class="main-container">
<h1>Fake Call Page</h1>
<p>This page simulates a fake phone call. All you have to do is answer the voice's questions.</p>

<audio controls>
  <source src="<%= asset_path('fake-call.mp3') %>" type="audio/mpeg">
  Your browser doesn't support the audio tag.
</audio>

<h3>Script</h3>
<ul>
<p>Man:</p>
  <li>Hey, what’s up, are you close?</li>
<p>Man:</p>
  <li>Nice, we’re so excited to see you! Hey guess who else is here?</li>
  <p>Man:</p>
  <li>Andy and Jim!</li>
  <p>Man:</p>
  <li>We’re actually going to come and pick you up! Are you still sharing your live location with me?</li>
  <p>Man:</p>
  <li>Ok perfect, see you in a minute!</li>
</ul>

</div>
