<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= simple_form_for Incident.new, url: create_incident_path, method: :post do |f| %>
  <%= f.input :incident_type, as: :hidden, input_html: { value: "red" } %>
  <%= f.submit "red button"%>
<% end %>

<!-- For testing purpose -->
<%# <div class="button_round">
  <a href="#">red</a>
</div>

<div class="button_round">
  <a href="#">yellow</a>
</div>

<i class="fa-solid fa-bars fa-2xl" style="color: #f1d00a;"></i>

<div class="button">
  <a href="#">button</a>
</div>

<div class="map-container">
  <p>here goes the map</p>
</div>

<div class="img-container">
  <p>here goes the image</p>
</div> %>
