.button {
  height: 60px;
  width: 100%;
  padding:  0px;
  border-style: hidden;
  outline:  none;
  background: #f1d00a;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin: 10px auto;
}
