.button-round {
  background-color: white;
  border: white;
  border-radius: 50%;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-items: center;
  font-size: 16px;
  margin: 2px 4px;
}
