// .map-container {
//   height: 301px;
//   width: 312px;
//   padding: 0px;
//   border-style: hidden;
//   outline: none;
//   display: grid;
//   margin: 20px auto;
//   justify-content: center;
//   align-content: center;
// }


// .map-container {
//   height: 300px;
//   width: 100%;
//   margin: 20px auto;
// }

// #map {
//   height: 100%;
//   width: 100%;
// }


.map-container {
  /* not sure which one is the right one, leaving in sashas from the mapbox implementation on 2023-06-07 */
  position: inherit; /* this is from sashas mapbox */

  /* --- this is from what was in main
  height: 301px;
  padding: 0px;
  border-style: hidden;
  outline: none;
  background-color:#d9d9d9;
  display: grid;
  --- this is from what was in main */

  /* this was present in both */
  margin: 20px auto;
  height: 350px;
}

#map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mapboxgl-popup-content {
  padding: 4px 10px 0px 10px !important
}
