.profile-container {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.avatar-profile {
  margin-bottom: 10px;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
}

.avatar-image {
  width: 40%;
  border-radius: 50%;
  margin-bottom: 25px;
  object-fit: cover;
}

.profile-section {
  margin-bottom: 20px;
}

.profile-section p {
  display: flex;
  align-items: center;
}

.profile-section p strong {
  width: 160px;
  margin-right: 10px;
}

.info-value,
.contact-value {
  margin: 0;
}


.main-container p {
  margin: 0;
  margin-bottom: 10px;
}

.dropdown-container {
  display: inline-block;
  width: 200px; /* Adjust the width as needed */
}

.app-link {
  color: black;
}

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-field label {
  flex-basis: 150px; /* Adjust the width as needed */
  margin-right: 10px;
}

.white-label {
  color: white;
}

.yellow-button-sash {
  background-color: #f1d00a;
  border-color: #f1d00a;
  outline:  none;
  background: #f1d00a;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  }

.yellow-button-sash:focus,
.yellow-button-sash:active,
.yellow-button-sash:hover {
  background-color: #f1d00a !important;
  border-color: #f1d00a !important;
  outline: none;
  }
